{# Leaf OSPF configuration template #}
{% set lo0_full = loopback.ipv4 | replace('/32', '') %}
{% set lo0_parts = lo0_full.split('.') %}
{% set lo1_addr = [lo0_parts[0], '1', lo0_parts[2], lo0_parts[3]] | join('.') %}
{%- set ns = namespace(subnets=[]) %}
{%- for intf in interfaces %}
{%- set addr = intf.ipv4 | replace('/31', '') %}
{%- set parts = addr.split('.') %}
{%- set subnet = [parts[0], parts[1], parts[2], '0'] | join('.') %}
{%- if subnet not in ns.subnets %}
{%- set ns.subnets = ns.subnets + [subnet] %}
{%- endif %}
{%- endfor %}
interface Loopback0
  ip address {{ loopback.ipv4 }}
  ip ospf area 0.0.0.0
!
interface Loopback1
  ip address {{ lo1_addr }}/32
  ip ospf area 0.0.0.0
!
{% for intf in interfaces %}
interface {{ intf.ifname }}
  ip ospf area 0.0.0.0
!
{% endfor %}
router ospf 1
  network {{ lo0_full }} 0.0.0.0 area 0.0.0.0
  network {{ lo1_addr }} 0.0.0.0 area 0.0.0.0
{% for subnet in ns.subnets %}
  network {{ subnet }} 0.0.0.255 area 0.0.0.0
{% endfor %}
